body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 150%;
    padding: 0;
    background-image: url(img/debut-light.png);
    background-repeat: repeat-repeat;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.dark {
    background: #ffffff;
}


.tsbox {
    border-radius: 25px;
    border: 2px solid #8AC007;
    padding: 10px; 
}

.devbox {
    border-radius: 25px;
    border: 2px solid #0066FF;
    padding: 10px; 
}

.pointdesc {
    border-radius: 25px;
    border: 1px solid #808080;
    padding: 10px; 
    margin: 5px;
}
