body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 150%;
    padding: 0;
    background-image: url(img/debut-light.png);
    background-repeat: repeat-repeat;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.point {
    padding: 5px;
}

.value {
    font-size: 1.25em;
    font-weight: bold;
    color: #777;
}

.point .actuator {
    display: inline-block;
    width: 100px;
    padding-left: 10px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

#actuators {
  width: 900px;
  margin: 0 auto;
}

div.container {
  width: 900px;
  margin: 0 auto;
}

div.schedule-container {
  width: 500px;
  margin: 0 auto;
}

div.rooms-container {
  width: 600px;
  margin: 0 auto;
}

div.add-room-container {
  width: 400px;
  margin: 0 auto;
}

table td.text-label {
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.ui-autocomplete {
    z-index: 5000;
}

.popover {
    z-index: 6000;
}

.floorplan-marker {
  position: absolute;
  font-size: 2em;
  color: #E00000;
}

.floorplan-marker-static:hover {
  color: red;
}

.modal {
  overflow-y:auto;
}


.atooltip {
    display: inline;
    position: relative;
}

.atooltip:hover {
    color: #c00;
    text-decoration: none;
}

.atooltip:hover:after {
    background: #111;
    background: rgba(0,0,0,.8);
    border-radius: .5em;
    bottom: 1.35em;
    color: #fff;
    content: attr(title);
    display: block;
    left: 1em;
    padding: .3em 1em;
    position: absolute;
    text-shadow: 0 1px 0 #000;
    white-space: nowrap;
    z-index: 98;
}

.atooltip:hover:before {
    border: solid;
    border-color: #111 transparent;
    border-color: rgba(0,0,0,.8) transparent;
    border-width: .4em .4em 0 .4em;
    bottom: 1em;
    content: "";
    display: block;
    left: 2em;
    position: absolute;
    z-index: 99;
}

.hvac-zone-table tr {
  height: 51px;
}

.focus-sparkline text {
  font-size: 1.1em;
  opacity: 0.7;
}

span.glyph-animate {
   -webkit-animation-name: rotate;
   -webkit-animation-duration: 1.5s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
 from { 
        -webkit-transform: rotate( 0deg );  
    }
 to { 
        -webkit-transform: rotate( 360deg ); 
    }
}

.loading-div {
  color: #939393; 
  font-size: 1.5em; 
  text-align: center; 
  margin: 0 auto; 
  width: 50%; 
  text-shadow: -1px 1px 2px #ccc;
  margin-top:50px;
}
