body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 150%;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;
}

.point {
    padding: 5px;
}

.point .Path {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.point .value {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.point .actuator {
    display: inline-block;
    width: 100px;
    padding-left: 10px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

#actuators {
  width: 900px;
  margin: 0 auto;
}
