svg {
  font: 10px sans-serif;
}
 
.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}
 
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.pointDetailContainer {
  width: 900px;
  margin: 0 auto;
}
