/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}


/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.box {
  border-style: solid;
  border-width: 1px;
  min-height: 200px;
  height: 50%;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.physspace {
  border-bottom: 1px solid;
  border-left: 1px solid;
  padding: 10px;
}

.borderleft {
  border-left: 1px solid;
}

.borderright {
  border-right: 1px solid;
}

tr.spaceUnder > td
{
  padding-bottom: 1em;
}

td {
  text-align: center;
}

th {
  text-align: center;
}

.schedule {
  padding-top: 1em;
  padding-bottom: 1em;
}

#schedulebox {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.hasslider {
  margin-left:auto;
  margin-right: auto;
}
