
<!DOCTYPE html>
<html lang="en">
  <head>

<title>UC Berkeley OpenBAS</title>
<script src="static/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/buttons.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>


    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <!-- Custom styles for this template -->
    <link href="static/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="static/css/bootstrap.css" rel="stylesheet">
    <link href="static/css/font-awesome.css" rel="stylesheet">
    <link href="static/css/buttons.css" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container-fluid">
      <div class="header">
        <h3 class="text-muted">UCB OpenBAS Accelerated Demo</h3>
      </div>

      <div class="jumbotron">
        <div class="row">

          <! -- personal + building system -->
          <div class="col-sm-8">
            <div class="well">
              <div class="row">

                <div class="col-sm-4">
                  <p><b>Personal</b></p>
                  <div class="box">
                    <b>Room 1</b><br>
                    <div id="room1temp">74 F</div><br>
                    <div id="room1rh">24 %RH</div><br>
                    <a href="#" id="spaceheater" class="button button-3d-caution button-small togglebutton">Space Heater</a><br>
                  </div>
                  <div class="box">
                    <b>Room 2</b><br>
                    <div id="room2temp">74 F</div><br>
                    <div id="room2rh">24 %RH</div><br>
                    <a href="#" id="tasklight" class="button button-3d-highlight button-small togglebutton">Task Light</a><br>
                  </div>
                </div>

                <div class="col-sm-8">
                  <p><b>Building System</b></p>
                  <div class="row" style="background:#eee">
                    <div class="col-md-4" id="buildinglighting">
                      <p>Lighting</p>
                      <table class="table">
                        <tr class="spaceUnder">
                          <td> Brightness </td>
                          <td> Hue </td>
                        </tr>
                        <tr class="spaceUnder">
                          <td id="brightnessval"> 50 </td>
                          <td id="hueval"> 50 </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="hasslider" id="buildingbrightness"></div>
                          </td>
                          <td>
                            <div class="hasslider" id="buildinghue"></div>
                          </td>
                        </tr>
                      </table>
                      <p><a href="#" id="lightswitch" class="button button-3d-caution button-jumbo togglebutton">On/Off</a></p><br>
                    </div>
                    <div class="col-md-4">
                      <p>Thermostat</p>
                      <table class="table">
                        <tr class="spaceUnder">
                          <td>
                            Deadband
                          </td>
                          <td>
                            Temp
                          </td>
                        </tr>
                        <tr class="spaceUnder">
                          <td id="deadbandval"> <label id="dbheat" style="font-weight:normal">65</label> - <label id="dbcool" style="font-weight:normal">85</label></td>
                          <td id="tempval"> 75 </td>
                        </tr>
                        <tr>
                          <td>
                            <div class="hasslider" id="deadband"></div>
                          </td>
                          <td>
                            <div class="hasslider" id="temp"></div>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <div class="col-md-4">
                      <p>RTU</p>
                      <p><a href="#" id="rtuheat" class="button button-3d-caution button-jumbo togglebutton">Heat</a></p><br>
                      <p><a href="#" id="rtucool" class="button button-3d-primary button-jumbo togglebutton">Cool</a></p><br>
                      <p><a href="#" id="rtuoff" class="button button-3d button-jumbo">Off</a></p><br>
                    </div>
                  </div>
                </div>

              </div>  <!-- end row -->
            </div>   <!-- end well -->
          </div> <!-- end building/personal system -->

          <div class="col-sm-4">
            <div class="well">
              <p><b>IT Infrastructure</b></p>
            <table class="table table-bordered table-striped table-condensed">
              <tr>
                <th>Device</th>
                <th>Function</th>
                <th>Network</th>
                <th>Status</th>
              </tr>
              <tr>
                <td>IMT550C</td>
                <td>Thermostat</td>
                <td>Ethernet</td>
                <td id="temp_table"></td>
              </tr>
              <tr>
                <td>Philips Hue</td>
                <td>Building Lighting</td>
                <td>Zigbee</td>
                <td id="buildinglight_table"></td>
              </tr>
              <tr>
                <td>TCP Lighting</td>
                <td>Task Light</td>
                <td>Zigbee</td>
                <td id="tasklight_table"></td>
              </tr>
              <tr>
                <td>Raritan</td>
                <td>Space Heater</td>
                <td>Ethernet</td>
                <td id="spaceheater_table"></td>
              </tr>
              <tr>
                <td>Raritan</td>
                <td>RTU Heat</td>
                <td>Ethernet</td>
                <td id="rtuheat_table"></td>
              </tr>
              <tr>
                <td>CPU Fan</td>
                <td>RTU Cool</td>
                <td>Serial/LabJack</td>
                <td id="rtucool_table"></td>
              </tr>
              <tr>
                <td>SHT11C Temp Sensor</td>
                <td>Temp Sensor</td>
                <td>Serial/LabJack</td>
                <td id="room1temp_table"></td>
              </tr>
              <tr>
                <td>SHT11C Temp Sensor</td>
                <td>Temp Sensor</td>
                <td>Serial/LabJack</td>
                <td id="room2temp_table"></td>
              </tr>
              <tr>
                <td>SHT11C RH Sensor</td>
                <td>RH Sensor</td>
                <td>Serial/LabJack</td>
                <td id="room1rh_table"></td>
              </tr>
              <tr>
                <td>SHT11C RH Sensor</td>
                <td>RH Sensor</td>
                <td>Serial/LabJack</td>
                <td id="room2rh_table"></td>
              </tr>
            </table>
            </div>
          </div>

        </div> <! -- /row -->

      </div> <! -- /jumbotron -->

      <div class="well" id="schedulebox">
        <h3 align="center">Schedule</h3>
        <form id="scheduleform" role="form" action="http://localhost:5000/schedule" method="post">
        <table class="table table-bordered table-striped"> 
          <tr>
            <th class="field-label" align="center">Device</th>
            <th id="tick0" class="field-label" >:00 - :10</th>
            <th id="tick1" class="field-label" >:10 - :20</th>
            <th id="tick2" class="field-label" >:20 - :30</th>
            <th id="tick3" class="field-label" >:30 - :40</th>
            <th id="tick4" class="field-label" >:40 - :50</th>
            <th id="tick5" class="field-label" >:50 - :60</th>
          </tr>
          <tr>
            <td>Space Heater</td>
            <td class="schedule schedselect"><input name="spaceheater0" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="spaceheater1" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="spaceheater2" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="spaceheater3" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="spaceheater4" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="spaceheater5" type="hidden" value="0"></td>
          </tr>
          <tr>
            <td>Task Light</td>
            <td class="schedule schedselect"><input name="tasklight0" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="tasklight1" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="tasklight2" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="tasklight3" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="tasklight4" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="tasklight5" type="hidden" value="0"></td>
          </tr>
          <tr>
            <td>Building Lighting</td>
            <td class="schedule schedselect"><input name="buildinglight0" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="buildinglight1" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="buildinglight2" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="buildinglight3" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="buildinglight4" type="hidden" value="0"></td>
            <td class="schedule schedselect"><input name="buildinglight5" type="hidden" value="0"></td>
          </tr>
          <tr>
            <td>Cool Setpoint</td>
            <td class="schedule"><input name="coolspt0" type="text" size="5" value="85"></td>
            <td class="schedule"><input name="coolspt1" type="text" size="5" value="85"></td>
            <td class="schedule"><input name="coolspt2" type="text" size="5" value="85"></td>
            <td class="schedule"><input name="coolspt3" type="text" size="5" value="85"></td>
            <td class="schedule"><input name="coolspt4" type="text" size="5" value="85"></td>
            <td class="schedule"><input name="coolspt5" type="text" size="5" value="85"></td>
          </tr>
          <tr>
            <td>Heat Setpoint</td>
            <td class="schedule"><input name="heatspt0" type="text" size="5" value="65"></td>
            <td class="schedule"><input name="heatspt1" type="text" size="5" value="65"></td>
            <td class="schedule"><input name="heatspt2" type="text" size="5" value="65"></td>
            <td class="schedule"><input name="heatspt3" type="text" size="5" value="65"></td>
            <td class="schedule"><input name="heatspt4" type="text" size="5" value="65"></td>
            <td class="schedule"><input name="heatspt5" type="text" size="5" value="65"></td>
          </tr>
        </table>
        <button type="submit" id="schedulesubmit" class="btn btn-default">Submit</button>
        </form>
      </div>

      <div class="footer">
        <p>&copy; UC Berkeley 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script>
(function($) {


 $(document).ready(function() {
   var myurl = "localhost:";

   var longpoll = (function pollupdate(item) {
     console.log(item);
     $.ajax({url: item.status,
       success: function(data) {
       console.log(item.cssid+data.Readings[0][1]);
       $("#"+item.cssid+"_table").html(data.Readings[0][1]);
       },
       dataType: "json",
       complete: function() {pollupdate(item)},
       timeout: 30000
       });
     });

   $(function() {
     $.ajax({url: "http://"+myurl+"5000/objectmap",
       success: function(jdata) {
       $.each(jdata, function(i, item) {
         console.log(i + ":" + item.status);
         longpoll(item);
         });
       },
       dataType: "json"});
     });


   // init sliders
   $(function() {
     $('#buildinghue').slider({
       orientation: "vertical",
       range: "min",
       min: 0,
       max: 65535,
       value: 52000,
       slide: function(event, ui) {
         $('#hueval').html(ui.value);
       },
        change: function(event, ui) {
        $.ajax({url: "http://"+myurl+"5000/smap?smappath=/hue/workbench/state/hue&state="+ui.value,
                success: function(data) {console.log("hue: ", data);}
                })
        }
     });
     $('#buildingbrightness').slider({
       orientation: "vertical",
       range: "min",
       min: 0,
       max: 250,
       value: 100,
       slide: function(event, ui) {
         $('#brightnessval').html(ui.value);
       },
       change: function(event, ui) {
          $.ajax({url: "http://"+myurl+"5000/smap?smappath=/hue/workbench/state/bri&state="+ui.value,
                success: function(data) {console.log("bri: ", data);}
          })
        }
     });
     $('#deadband').slider({
       orientation: "vertical",
       range: true,
       min: 40,
       max: 100,
       values: [65, 85],
       slide: function(event, ui) {
         $('#dbheat').html(ui.values[0] + " F")
         $('#dbcool').html(ui.values[1] + " F")
       },
       stop: function(event, ui) {
         $.ajax({ url: "http://"+myurl+"5000/smap?smappath=/imt550c0/temp_heat&state="+ui.values[0],
                  success: function(data) { console.log(data); }
                })
         $.ajax({ url: "http://"+myurl+"5000/smap?smappath=/imt550c0/temp_cool&state="+ui.values[1],
                  success: function(data) { console.log(data); }
                })
       }
     });
     $('#temp').slider({
       orientation: "vertical",
       range: "min",
       min: 0,
       max: 100,
       value: 75,
       disabled: true,
       slide: function(event, ui) {
         $('#tempval').html(ui.value + " F");
       }
     });

   });

   $('.togglebutton').on('click', function() {
     if ($(this).hasClass("pressed")) {
        $(this).removeClass("pressed");
        return
      }
      $(this).addClass("pressed");
      return
   });

    $('.schedselect').on('click', function() {
        if ($(this).hasClass("success")) {
          $(this).removeClass("success");
          $(this).find('input').val(0)
        } else {
          $(this).find('input').val(1)
          $(this).addClass("success");
        }
    });

    $("#scheduleform").submit(function(e) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "http://"+myurl+"5000/schedule",
          data: $("#scheduleform").serialize(),
        });
        return false;
    });

    $('#tasklight').on('click', function() {
        $.ajax({url: "http://"+myurl+"5000/smap?smappath=/TCPLighting/216544666156982628/state&toggle=1",
          success: function(data) { console.log(data); }, dataType: "json"});
    });

    $('#spaceheater').on('click', function() {
        $.ajax({url: "http://"+myurl+"5000/smap?smappath=/Raritan/outlet2/state&toggle=1",
          success: function(data) { console.log(data); }, dataType: "json"});
    });

    $('#rtuheat').on('click', function() {
        $.ajax({url: "http://"+myurl+"5000/smap?smappath=/Raritan/outlet3/state&toggle=1",
          success: function(data) { console.log(data); }, dataType: "json"});
    });

    $('#rtucool').on('click', function() {
        $.ajax({url: "http://"+myurl+"5000/fan",
          success: function(data) { console.log(data); }, dataType: "json"});
    });

    $('#lightswitch').on('click', function() {
        $.ajax({url: "http://"+myurl+"5000/smap?smappath=/hue/workbench/state/on&toggle=1",
          success: function(data) { console.log(data); }, dataType: "json"});
    });

    $('#rtuoff').on('click', function() {
        $("#rtuheat").removeClass("pressed");
        if ($("#rtucool").hasClass("pressed")) {
          $("#rtucool").removeClass("pressed")
          $.ajax({url: "http://"+myurl+"5000/fan",
            success: function(data) { console.log(data); }, dataType: "json"});
        }
        $.ajax({url: "http://"+myurl+"5000/smap?smappath=/Raritan/outlet3/state&state=0",
          success: function(data) { console.log(data); }, dataType: "json"});
    });

    $('#buildinghue').on('slide', function(e) {
        $('#buildinglighting').css('background-color', '#eee');
        $('#hueval').text(e.value);
    });
    $('#buildingbrightness').on('slide', function(e) {
        $('#brightnessval').text(e.value);
    });
    $('#deadband').on('slide', function(e) {
        $('#deadbandval').text(e.value);
    });
    $('#temp').on('slide', function(e) {
        $('#tempval').text(e.value);
    });

    // polling functions

    (function polltasklight(){
     $.ajax({ url: "http://128.32.37.43:8080/events/TCPLighting/216544666156982628/state", success: function(data){
       //Update your dashboard gauge
        if (data.Readings[0][1] == "1")
        {
            $("#tasklight").addClass("pressed");
        }
        else
        {
            $("#tasklight").removeClass("pressed");
        }
       }, dataType: "json", complete: polltasklight, timeout: 30000 });
     })();

    (function pollspaceheater(){
     $.ajax({ url: "http://128.32.37.43:8080/events/Raritan/outlet2/state", success: function(data){
       //Update your dashboard gauge
        if (data.Readings[0][1] == "1")
        {
            $("#spaceheater").addClass("pressed");
        }
        else
        {
            $("#spaceheater").removeClass("pressed");
        }
       }, dataType: "json", complete: pollspaceheater, timeout: 30000 });
     })();

    (function pollrtuheat(){
     $.ajax({ url: "http://128.32.37.43:8080/events/Raritan/outlet3/state", success: function(data){
       //Update your dashboard gauge
        if (data.Readings[0][1] == "1")
        {
            $("#rtuheat").addClass("pressed");
        }
        else
        {
            $("#rtuheat").removeClass("pressed");
        }
       }, dataType: "json", complete: pollrtuheat, timeout: 30000 });
     })();

    (function pollrtucool(){
     $.ajax({ url: "http://128.32.37.43:8081/events/sensors/fan", success: function(data){
       //Update your dashboard gauge
        if (data.Readings[0][1] == "1")
        {
            $("#rtucool").addClass("pressed");
        }
        else
        {
            $("#rtucool").removeClass("pressed");
        }
       }, dataType: "json", complete: pollrtucool, timeout: 30000 });
     })();

    (function pollthermostat(){
     $.ajax({ url: "http://128.32.37.43:8080/events/imt550c0/temp", success: function(data){
       //Update your dashboard gauge
       $('#tempval').html(data.Readings[0][1] + " F");
       $('#temp').slider('value',data.Readings[0][1]);

       }, dataType: "json", complete: pollthermostat, timeout: 30000 });
     })();

    (function pollthermostat_heat(){
     $.ajax({ url: "http://128.32.37.43:8080/events/imt550c0/temp_heat", success: function(data){
       //Update your dashboard gauge
       $('#dbheat').html(data.Readings[0][1] + " F");
       $('#deadband').slider('values',0,data.Readings[0][1]);

       }, dataType: "json", complete: pollthermostat_heat, timeout: 30000 });
     })();

    (function pollthermostat_cool(){
     $.ajax({ url: "http://128.32.37.43:8080/events/imt550c0/temp_cool", success: function(data){
       //Update your dashboard gauge
       $('#dbcool').html(data.Readings[0][1] + " F");
       $('#deadband').slider('values', 1,data.Readings[0][1]);

       }, dataType: "json", complete: pollthermostat_cool, timeout: 30000 });
     })();
    (function polltemp1_temp(){
     $.ajax({ url: "http://128.32.37.43:8081/events/sensors/temp1", success: function(data) {
       //Update your dashboard gauge
       $('#room1temp').html(data.Readings[0][1].toFixed(2) + " F");
        
       }, dataType: "json", complete: function (){setTimeout(polltemp1_temp,1000);}, timeout: 30000 });
     })();

    (function polltemp2_temp(){
     $.ajax({ url: "http://128.32.37.43:8081/events/sensors/temp2", success: function(data) {
       //Update your dashboard gauge
       console.log("room2temp "+data.Readings);
       $('#room2temp').html(data.Readings[0][1].toFixed(2) + " F");

       heatspt = parseInt($("#dbheat").html().split(" ")[0], 10);
       coolspt = parseInt($("#dbcool").html().split(" ")[0], 10);
       console.log("heatspt ", heatspt, "coolspt ", coolspt);
        
       }, dataType: "json", complete: function (){setTimeout(polltemp2_temp,1000);}, timeout: 30000 });
     })();

    (function polltemp1_rh(){
     $.ajax({ url: "http://128.32.37.43:8081/events/sensors/rh1", success: function(data) {
       //Update your dashboard gauge
       $('#room1rh').html(data.Readings[0][1].toFixed(2) + " %RH");

       }, dataType: "json", complete: function (){setTimeout(polltemp1_rh,1000);}, timeout: 30000 });
     })();

    (function polltemp2_rh(){
     $.ajax({ url: "http://128.32.37.43:8081/events/sensors/rh2", success: function(data) {
       //Update your dashboard gauge
       $('#room2rh').html(data.Readings[0][1].toFixed(2) + " %RH");
        
       }, dataType: "json", complete: function (){setTimeout(polltemp2_rh,1000);}, timeout: 30000 });
     })();

    (function pollhuebri(){
     $.ajax({url: "http://128.32.37.43:8080/events/hue/workbench/state/bri", success: function(data){
      $("#brightnessval").html(data.Readings[0][1]);
      $("#buildingbrightness").slider('value', data.Readings[0][1]);
      }, dataType: "json", complete: pollhuebri, timeout: 30000 });
     })();

    (function pollhueon(){
     $.ajax({url: "http://128.32.37.43:8080/events/hue/workbench/state/on", success: function(data){
        if (data.Readings[0][1] == "1")
        {
            $("#lightswitch").addClass("pressed");
        }
        else
        {
            $("#lightswitch").removeClass("pressed");
        }
      }, dataType: "json", complete: pollhueon, timeout: 30000 });
     })();

    (function pollhuehue(){
     $.ajax({url: "http://128.32.37.43:8080/events/hue/workbench/state/hue", success: function(data){
      $("#hueval").html(data.Readings[0][1]);
      $("#buildinghue").slider('value', data.Readings[0][1]);
      }, dataType: "json", complete: pollhuehue, timeout: 30000 });
     })();

    (function polltick(){
     $.ajax({url: "http://"+myurl+":5000/scheduletick", success: function(data){
       console.log("currenttick", data.tick);
       $('.field-label').removeClass("info");
       $("#tick"+data.tick).addClass("info");
      }, dataType: "json", complete: polltick, timeout: 30000 });
     })();



 });

})(jQuery);
    </script>
  </body>
</html>


