[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
pycapnp = "*"
flask = "*"
gwd = "*"
msgpack-python = "*"
flask-basicauth = "*"
pytz = "*"
ipython = "*"
pyaml = "*"
boxsdk = {version = "*", extras = ["jwt"]}

[requires]
python_version = "2.7"
